*
!.gitignore
!.gitlab-ci.yml
!README.md

!/test
!/test/meson.build
!/test/*.cpp

!/include
!/include/*.hpp

!/example
!/example/*.cpp
!/example/*.png
!/example/*.dat
!/example/*.py
!/example/meson.build




