*
!.gitignore
!README.md

!.github/
!.github/workflows/
!.github/workflows/ci.yml

!/test
!/test/meson.build
!/test/*.cpp

!/include
!/include/*.hpp

!/example
!/example/*.cpp
!/example/*.png
!/example/*.dat
!/example/*.py
!/example/meson.build




